.example-card {
    max-width: 600px;
    height: 86%;
}

.example-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.hero-thumbnail {
    height: 350px;
}

.hero-thumbnail > img {
    object-fit: cover;
    height: 350px;
}
