<mat-card class="example-card">
    <div class="hero-thumbnail">
        <img mat-card-image [src]="thumbnail" alt="{{hero.name}}_image">
    </div>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + thumbnail + ')'}"></div>
        <mat-card-title>{{hero.name | pipeEx}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{hero.description}}
        </p>
        <p *ngIf="hero.comics.available">
            Comics:
        </p>
        <ul>
            <li *ngFor="let comic of hero.comics.items | slice:0:5">
                {{comic.name | pipeUpper}}
            </li>
        </ul>
        <p *ngIf="hero.series.available">
            Series:
        </p>
        <ul>
            <li *ngFor="let serie of hero.series.items | slice:0:5">
                {{serie.name}}
            </li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [routerLink]="['/hero', hero.id]">Button to see more</button>
        <a mat-button href="<app-hero-details></app-hero-details>">Link to see more</a>
    </mat-card-actions>
</mat-card>
